Source: srsran
Section: universe/misc
Priority: optional
Maintainer: srsRAN Packagers <packagers@softwareradiosystems.com>
Build-Depends:
    debhelper (>= 9),
    dh-exec,
    cmake,
    build-essential,
    libfftw3-dev,
    libmbedtls-dev,
    libboost-program-options-dev,
    libconfig++-dev,
    libsctp-dev,
    libuhd-dev,
    uhd-host,
    txt2man,
    libyaml-cpp-dev
Standards-Version: 4.2.1
Homepage: http://www.softwareradiosystems.com
Vcs-Git: https://github.com/srsRAN/srsRAN.git
Vcs-Browser: https://github.com/srsRAN/srsRAN/

#Package: srsran-dev
#Architecture: any
#Multi-Arch: same
#Section: libdevel
#Depends: ${shlibs:Depends},
#         ${misc:Depends},
#         srsran-core:any (= ${binary:Version})
#Breaks: srslte (<= 19.03-0ubuntu1)
#Replaces: srslte (<= 19.03-0ubuntu1)
#Description: Static libraries and headers for srsran
# This software allows you to run a full end-to-end, open-source 4G/5G system.
# It contains a UE, eNB and EPC implementation.
# .
# This package contains the development files - static libraries and headers

#Package: srsran
#Architecture: all
#Depends: ${shlibs:Depends},
#         ${misc:Depends},
#         srsenb       (>= ${source:Version}), srsenb (<< ${source:Upstream-Version}.0~),
#         srsue        (>= ${source:Version}), srsue  (<< ${source:Upstream-Version}.0~),
#         srsepc       (>= ${source:Version}), srsepc (<< ${source:Upstream-Version}.0~)
#Description: LTE software suite for software defined radios (metapackage)
# This software allows you to run a full end-to-end, open-source LTE system.
# It contains a UE, eNB and EPC implementation.
# .
# This package installs all srsRAN components.

Package: srsgnb
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
#,
#         srsran-core (= ${binary:Version})
Breaks: srslte (<= 19.03-0ubuntu1)
Replaces: srslte (<= 19.03-0ubuntu1)
Description: Complete SDR 5G NR gNodeB application
 This software allows you to run a full end-to-end, open-source 5G NR system.
 It contains a UE, eNB and EPC implementation.
 .
 This package contains srsGNB only. For running a full network, a core network
 component, such as srsRAN, is needed.

#Package: srsran-core
#Architecture: any
#Multi-Arch: allowed
#Depends: ${shlibs:Depends},
#         ${misc:Depends}
#Breaks: srslte-core (<= 19.03-0ubuntu1)
#Replaces: srslte-core (<= 19.03-0ubuntu1)
#Description: Common files for srsRAN
# This software allows you to run a full end-to-end, open-source 4G/5G system.
# It contains a UE, eNB and EPC implementation.
# .
# This package contains the common files for srsenb, srsue and srsepc.

